.related-products-section {
  width: min(1240px, calc(100% - 2rem));
  margin: 90px auto 0;
  margin-bottom: 90px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    h2 {
      margin: 0;
      color: #3442b5;
      font-size: 30px;
      font-weight: 700;
      white-space: nowrap;

      @media (max-width: 700px) {
        font-size: 24px;
      }
    }
  }

  &__line {
    width: 100%;
    max-width: 360px;
    height: 1px;
    background: #dedede;
  }

  &__view-all {
    text-align: center;
    color: #3f3f40 !important;
    font-size: 15px;
    font-weight: 700;
    margin: 0;

    a {
      text-align: center !important;
      color: #3f3f40 !important;
      font-size: 15px;
      font-weight: 700;
      margin: 0 auto;
      text-decoration: none;
    }
  }
}